<li class="group-info">
  <%= display_attached_image(group) %>

  <ol>
    <li><h3><%= link_to group.name, group %></h3></li>
    <li>習慣：<%= group.habit %></li>
    <li>概要：<%= group.overview %></li>
  </ol>
</li>
