<% provide(:title, @group.name) %>
<% provide(:page, "group") %>
<% provide(:page_name, "新しくコミュニティを作る") %>
<% provide(:submit_name, "コミュニティ作成") %>

<div class="group">
  <%= @group.name %>
  <%= @group.habit %>
  <%= @group.overview %>
</div>
