@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');


/* body */
body{
  font-family: 'Noto Sans JP', sans-serif;
}
#main{
  margin-top: 50px;
}
ul,li{
  list-style: none;
}
.ReactModal__Body--open {
  position: fixed;
  width: 100%;
}

.card{
  text-align: center;
  padding-bottom: 20px;
  background-color: #a1ffe0;
  border: 1px solid #6bc1e6;
  border-radius: 30%;
  box-shadow: 0 0 8px rgb(155, 154, 154);
  img{
    padding: 10px;
    margin: 20px;
  }
}

.user-image{
  text-align: center;
}

.list{
  display: inline-block;
  text-align: left;
}

/* header */
.fixed-header{
  position: fixed;
}
header{
  position: header;
  .container{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h2{
    float: left;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #eaeaea;
    margin: 5px;
  }
  a:hover{
    cursor: pointer;
  }
}

/* footer */
footer{
  clear: both;
  border-top: 1px solid #bbbbbb;
  margin-top: 100px;
  padding-top: 5px;
  ul{
    float: right;
    a{
      font-size: small;
    }
  }
  h2{
    float: left;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #000000;
    margin: 5px;
  }
}

/* ホーム */
.introduction{
  height: 450px;
  width: 100%;
  margin-left: auto;
  margin-bottom: 50px;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  text-align: center;
  h1{
    margin-top: 80px;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
}

.content{
  h2{
    text-align: center;
    font-weight: bold;
  }
  .start-button{
    text-align: center;
    margin-top: 30px;
    button{
      width: 200px;
    }
  }
  .about{
    background-color: #eaf7ff;
    background-image: url("about.jpg");
    background-color:rgba(255, 253, 253, 0.950);
    background-blend-mode:lighten;
    border: 1px solid #dadada;
    text-align: center;
    margin-top: 80px;
    h2{
      margin-bottom: 40px;
    }
    p{
      font-size: medium;
    }
  }
  .step-content{
    margin-top: 80px;
  }
  .cards{
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #bbb;
    .card{
      margin-bottom:10px;
    }
  }
}

/* デバッグ */
.debug_dump{
  margin-top: 45px;
  clear: both;
}

/* フォーム */
input, textarea{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
}

.form{
  h2{
    margin-bottom: 30px;
  }
  .submit{
    margin-top: 30px;
    text-align: center;
    button{
      margin-top: 10px;
    }
  }
}

/* サインアップ・ログイン */
.login{
  .word{
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .card{
    width: 420px;
  }
  .submit{
    margin-bottom: 100px;
  }
}

.signup{
  .word{
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .card{
    width: 420px;
  }
}

/* ユーザ情報 */
.profile{
  margin-top: 20px;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
  background-color: #faffff;
  .user-info{
    img{
      margin: 20px 20px 5px 20px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }
  ul{
    margin: 0;
    padding: 10px 0;
    li{
      margin-bottom: 5px;
    }
  }
  .submit{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.image-preview{
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  background-color: #faffff;
  img{
    margin: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

.user-profile, .group{
  margin-top: 20px;
  .title{
    clear: both;
  }
}

/* 一覧情報 */
.index{
  h2{
    margin-bottom: 20px;
  }
  .item{
    border: 1px solid #dadada;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px rgb(235, 235, 235);
    background-color: #faffff;
    padding: 10px 20px;
    span{
      padding: 0px;
      margin-top: 10px;
    }
    .item-info{
      text-align: center;
      img{
        margin: 20px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 0px;
      }
      h4{
        margin-top: 20px
      }
    }
  }
}

/* 削除 */
.delete{
  margin-top: 20px;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  background-color: #faffff;
  .btn{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* マイクロポスト */
.micropost{
  margin: 0 10px 20px 10px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  background-color: #faffff;
  .micropost-user{
    display: flex;
    img{
      margin: 20px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .micropost-time{
      display: flex;
      a:hover{
        cursor: pointer;
      }
      .like{
        margin-left: 10px;
        color: red;
      }
      .unlike{
        margin-left: 10px;
        color: rgb(192, 192, 192);
      }
    }
  }
  .micropost-content{
    font-size: 15px;
    margin: 0 10px 0px 10px;
    p{
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

/* グループ・ユーザ紹介 */
.describe{
  margin: 20px 0 40px 0;
  background-color: #faffff;
  .head{
    background-color: rgb(255, 243, 228);
    border-radius: 10px;
    padding: 30px;
    span{
      padding: 0px;
    }
    .menu{
      text-align: center;
      margin: 10px 0 10px 0;
      img{
        margin: 20px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
      .edit{
        margin-top: 10px;
      }
    }
  }
  .body{
    border: 1px solid #bbb;
    border-radius: 10px;
    background-color: #fbfdff;
    padding: 20px;
    margin-top: 60px;
  }
}

/* 達成ボタン */
.achievement{
  text-align: center;
  button{
    margin-top: 10px
  }
  a{
    padding: 0px;
  }
}

/* フォローボタン */
.follow{
  margin-top: 30px;
  margin-bottom: 10px;
}

/* メッセージボタン */
.follow{
  margin-top: 30px;
  margin-bottom: 10px;
}

/* 参加ボタン */
.send-message{
  margin-top: 10px;
}

/* メッセージ機能 */
.message{
  margin-top: 20px;
  p{
    margin: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .message-history{
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    padding: 10px 20px 10px 10px
  }
  button{
    float: right;
  }
  .myself{
    margin-bottom: 15px;
  }
  .myself-message{
    position: relative;
    padding: 5px;
    background-color: #06ffff;
    border: 1px solid #06ffff;
    border-radius: 10px;
  }
  .myself-message::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-left: 12px solid #06ffff;
    top: 10%;
    left: 100%;
  }
  .yourself{
    margin-bottom: 15px;
  }
  .yourself-message{
    position: relative;
    padding: 5px;
    background-color: #06ffff;
    border: 1px solid #06ffff;
    border-radius: 10px;
    margin-left: auto;
  }
  .yourself-message::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-right: 12px solid #06ffff;
    top: 10%;
    left: -24px;
  }
  .user-info{
    display: flex;
    margin-bottom: 10px;
  }
  .time{
    margin-left: auto;
    font-size: xx-small;
  }
  img{
    border-radius: 50%;
    width: 60%;
    height: 60%;
  }
}

.message-list{
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
  .message{
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(235, 235, 235);
    background-color: #faffff;
    padding: 10px;
    margin-right: 20px;
    position: relative;
    :hover{
      opacity: 0.3;
      background-color: rgb(203, 238, 255);
    }
    a{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .message-sender{
      span{
        padding: 0;
        margin: 0;
        float: right;
      }
    }
    .message-user{
      clear: both;
      display: flex;
      img{
        margin: 20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
    .message-content{
      font-size: 15px;
      margin: 0 10px 10px 10px;
      p{
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}

/* 煽り機能 */
.encouragement{
  margin-top: 20px;
  margin-bottom: 10px;
  textarea{
    margin-bottom: 5px;
  }
  p{
    margin: 0px;
    color: red;
    font-size: 12px;
  }
  button{
    float: right;
  }
}

.encouragement-micropost{
  background-color: rgb(255, 243, 220);
}

.glyphicon-fire{
  color: red;
}

/* タイムライン表示 */
.timeline-information{
  margin-top: 20px;
  text-align: center;
  .alert{
    padding: 3px;
  }
  h3{
    margin-top: 10px;
  }
  a:hover{
    cursor: pointer;
  }
}

/* 検索 */
.search{
  margin-bottom: 10px;
}

/* いいね一覧 */
.likers{
  margin-top: 20px;
}

/* カレンダー */
.calendar{
  h5{
    margin-bottom: 2px;
  }
  .react-calendar{
    margin: auto;
    .zero{
      color: black;
      background-color: white;
    }
    .row{
      background-color: aqua;
    }
    .middle{
      background-color: palegoldenrod;
    }
    .high{
      background-color: orange;
    }
  }
}


