<div class="timeline-information">
 <% if current_user.encouraged_feed.any? %>
    <div class="alert alert-warning">
      <h3>
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        &nbsp;&nbsp;<b><%= link_to current_user.encouraged_feed.count, encouraged_user_path(current_user) %></b> 回煽られています
        &nbsp;&nbsp;<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      </h3>
      <h4>仲間に負けずに頑張りましょう！</h4>
    </div>
  <% else %>
    <div class="alert alert-success">
      <h3>煽っているユーザはいません</h3>
      <h4>先に目標を達成しましょう！</h4>
    </div>
  <% end %>
</div>
