<% provide(:title, "所属コミュニティ") %>
<% provide(:page, "group") %>

<div class="index">
    <h2><%= "所属コミュニティ" %></h2>
    <%= render 'shared/group_index' %>
    <%= will_paginate @groups, params: {controller: :users, action: :belonging} %>
</div>
