<% provide(:title, @user.name) %>

<div class="user-profile">
  <% if current_user?(@user) %>
    <% provide(:page, "user_show") %>
  <% else %>
    <% provide(:page, "group") %>
    <%= render 'user_introduction' %>
  <% end %>
  <%= render 'shared/feed_items' %>
  <%= will_paginate @feed_items %>
</div>
