<% provide(:title, @user.name) %>

<div class="user-profile">
  <% if current_user?(@user) %>
    <% provide(:page, "user_show") %>
    activity
  <% else %>
    <% provide(:page, "group") %>
    <%= @user.name %>
  <% end %>
</div>
