<% provide(:title, @title) %>
<% provide(:page, "group") %>

<div class="index">
    <h3><%= @heading %></h3>
    <%= render 'shared/search' %>
    <%= render 'shared/group_items' %>
    <%= will_paginate @groups, params: {controller: @controller, action: @action} %>
</div>
