<% provide(:title, @title) %>
<% if current_user?(@user) %>
  <% provide(:page, "user_show") %>
<% else %>
  <% provide(:page, "group") %>
<% end %>

<div class="index">
    <h3><%= @heading %></h3>
    <%= render 'shared/search' %>
    <%= render 'shared/user_items' %>
    <%= will_paginate @users, params: {controller: @controller, action: @action} %>
</div>
