<% provide(:title, "Home") %>

<div class="introduction">
  <div class="container">
    <h1>Habit App</h1>
    <h4>ひとりでは継続できない人のための<h4>
    <h4>習慣付け支援サービス<h4>
  </div>
</div>

<div class="container home">
  <%= react_component("Home") %>
</div>
