<% provide(:title, "Home") %>

<div class="introduction">
  <div class="container">
    <img src="/assets/logo2.png" height="60px" />
    <h4>ひとりでは継続できない人のための<h4>
    <h4>習慣付け支援サービス<h4>
  </div>
</div>

<div class="content">
  <%= react_component("Home") %>
</div>
